.postDate {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 13px;
  color: var(--text-secondary);
}
.postDateFormat {
  font-weight: bold;
}

.postImg {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.postDropdownDivider {
  margin: 4rem 0;
  border: 1px solid var(--background-secondary);
}

/* -------- Comments styling -------- */
.comments {
  margin-bottom: 3rem;
  word-wrap: break-word;
}

/* -------- Markdown styling -------- */
.linebreak {
  white-space: pre-wrap;
}

.reactMarkdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* max-width: 1024px; */
  max-width: 930px;
}

.reactMarkdown p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0px 0px 0px;
}

.reactMarkdown h3 {
  font-size: 18px;
  margin: 10px 0px -20px 0px;
}

/* Image bio text = h6 */
.reactMarkdown h6 {
  font-size: 13px;
  padding-bottom: 20px;
}

.reactMarkdown img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.reactMarkdown img[src*='#3-row-img'] {
  width: 33%;
  height: 33%;
}

.reactMarkdown img[src*='#4-row-img'] {
  width: 24.5%;
  height: 24.5%;
}

/* --- Carousel Img --- */
.reactMarkdown img[src*='carouseldot'] {
  width: 20%;
  display: inline;
  margin-bottom: 10px;
}

.reactMarkdown img[src*='carouseldot5'] {
  width: 19.6%;
}

.reactMarkdown img[src*='carouseldot6'] {
  width: 16.3%;
}

.reactMarkdown img[src*='carouseldot8'] {
  width: 12.15%;
}

@media (max-width: 500px) {
  .reactMarkdown iframe {
    max-width: 100%;
  }
}