.postDate {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 13px;
  color: var(--text-secondary);
}
.postDateFormat {
  font-weight: bold;
}

.postImg {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.postDropdownDivider {
  margin: 4rem 0;
  border: 1px solid var(--background-secondary);
}


/* -------- Comments styling -------- */
.comments {
  margin-bottom: 3rem;
  word-wrap: break-word;
}


/* -------- Markdown styling -------- */
.linebreak {
  white-space: pre-wrap;
}

.reactMarkdown {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Image bio text = h6 */
.reactMarkdown h6 {
  font-size: 13px;
  padding-bottom: 20px;
}

.reactMarkdown img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.reactMarkdown img[src*='#3-row-img'] {
  width: 33%;
  height: 33%;
}

.reactMarkdown img[src*='#4-row-img'] {
  width: 24.5%;
  height: 24.5%;
}

/* --- Carousel Img --- */

.reactMarkdown img[src*='carouseldot'] {
  width: 20%;
  display: inline;
}

.reactMarkdown img[src*='carouseldot5'] {
  width: 19.6%;
  display: inline;
}

@media (max-width: 500px) {
  .reactMarkdown iframe {
    max-width: 100%;
  }
}