.vpp-container {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: inline-grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0px 180px;
}
.vpp-container h1 {
  text-transform: capitalize;
}
.vpp-container h5 {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.dropdown-divider {
  border: 1px solid var(--background-tertiary);
  margin-right: 40%;
}

/* LEFT PANE */
.vpp-pane-left {
}

.vpp-pane-left-mobile {
  display: none;
}

.thread-post-links ul {
  padding: 0;
  list-style-type: none;
}
.post-links {
  color: var(--text-links-blue);
  text-decoration: none;
}
.post-links:hover {
  text-decoration: none;
}

.vpp-select {
  width: 100%;
  height: 3rem;
  font-size: 18px;
}


/* RIGHT PANE */
.vpp-pane-right {
  min-width: 900px;
}


@media (max-width: 1600px) {
  .vpp-container {
    margin: 0 120px;
  }
}

@media (max-width: 1500px) {
  .vpp-container {
    margin: 0px 100px;
  }
  
  .vpp-pane-right {
    min-width: 700px;
  }
}

@media (max-width: 1300px) {
  .vpp-container {
    margin: 0px 90px;
  }

  .vpp-pane-right {
    min-width: 600px;
  }
}

@media (max-width: 1200px) {
  .vpp-container {
    grid-template-columns: 1fr 1fr;
  }

  .vpp-pane-right {
    min-width: 700px;
  }
}

@media (max-width: 1200px) {
  .vpp-pane-right {
    min-width: 600px;
  }
}

@media (max-width: 960px) {
  .vpp-container {
    grid-template-columns: 1fr;
    margin: 0px 20px;
  }
  
  .vpp-pane-left {
    display: none;
  }

  .vpp-pane-left-mobile {
    display: inline-block;
    margin-bottom: 2rem;
    min-width: 100%;
  }

  .vpp-pane-right {
    min-width: 100%;
    padding: 0;
  }
}