.coverImgContainer {
  background-image: url("../../public/coverImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
}

.navbar {
  background-color: var(--background-secondary);
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLogo {
  background-color: var(--background-secondary);
  cursor: pointer;
  padding-top: 7px;
}
.navbarLogo svg {
  background-color: var(--background-secondary);
}

.navbarList {
  background-color: var(--background-secondary);
  margin: 0px;
  padding: 0.5rem 1rem;
}

.navbarItem {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}
.navbarItem a {
  background-color: var(--background-secondary);
  cursor: pointer;
  color: #FFFFFF80;
  text-decoration: none !important;
  padding: 0 0.5rem;
  display: block;
}
.navbarItem i {
  cursor: pointer;
  text-decoration: none !important;
  padding: 0 0.5rem;
  display: block;
}

.navbarItemThemebtn {
  background-color: var(--background-secondary);
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding-top: 0.3rem;
}

.navbarLink {
  cursor: pointer;
  color: #FFFFFF80;
  text-decoration: none !important;
  padding: 0 0.5rem;
  display: block;
}

.btn {
  padding: 0.4rem 0.6rem !important;
  line-height: 1.5 !important;
}

/* CSS for dark theme toggle */
.themeBtnContainer {
  background: var(--bg);
  --bg: #FFFFFF;
  --text: #181A1B;
  --opp-bg: #181A1B;
  --opp-text: #FFFFFF;
  height: 35px;
  width: 35px;
  overflow: hidden;
  border-radius: 0.2rem;
  display: inline-block;  
}

.themeBtnDarkmode {
  --bg: #181A1B;
  --text: #FFFFFF;
  --opp-bg: #FFFFFF;
  --opp-text: #181A1B;
}

.themeBtnButton {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: var(--opp-bg);
  align-items: center;
  transition: all 320ms ease-out 100ms;
  top: -2px;
}

.themeBtnIcon {
  margin: 6.9px;
  width: 35px;
  height: 24px;
  display: block;
  stroke: var(--opp-text);
}

.themeBtnActive .themeBtnButton {
  top: -40px;
}

@media (min-width: 992px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

@media (max-width: 992px) {
  .coverImgContainer {
    background-image: none;
    height: 0;
  }
}