.postDate {
  color: var(--text-secondary);
  margin: 0.5rem 0 2.5rem 0;
  font-size: 13px;
  font-weight: bold;
}

.postDropdownDivider {
  margin: 4rem 0;
  border: 1px solid var(--background-secondary);
}

/* -------- Markdown styling -------- */
.reactMarkdown {

}

.reactMarkdown h1 {
  margin-top: 100px;
}

.reactMarkdown h3 {
  margin-top: 40px;
}

.reactMarkdown img {
  display: flex;
  padding-top: 10px;
  margin: 0 auto;
}

.reactMarkdown iframe {
  padding-bottom: 50px;
}


/* --- Carousel Img --- */
.reactMarkdown img[src*='#3-row-img'] {
  width: 33%;
  height: 33%;
}

.reactMarkdown img[src*='#4-row-img'] {
  width: 24.5%;
  height: 24.5%;
}

.reactMarkdown img[src*='carouseldot'] {
  width: 20%;
  display: inline;
  margin-bottom: 10px;
}

.reactMarkdown img[src*='carouseldot5'] {
  width: 19.6%;
}

.reactMarkdown img[src*='carouseldot6'] {
  width: 16.3%;
}

.reactMarkdown img[src*='carouseldot8'] {
  width: 12.15%;
}

@media (max-width: 500px) {
  .reactMarkdown iframe {
    max-width: 100%;
  }
}