.pContainer {
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: inline-grid;
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: 1fr 3fr;
  /* grid-template-columns: 1fr 2fr; */
  margin: 0px 180px; /* Width controller */
  border: .5px solid yellow;
}
.pContainer h1 {
  text-transform: capitalize;
}
.pContainer h5 {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.dropdownDivider {
  border: 1px solid var(--background-tertiary);
  margin-right: 40%;
}

/* LEFT PANE */
.pPaneLeft {
  border: .5px solid green
}
.pPaneLeftMobile {
  display: none;
}

.groupedContent {
  padding: 0;
}
.groupedHeading {
  list-style-type: none;
}
.threadPostLinks h4 {
  margin: 0 0 0.2rem 0;
  padding: 0;
  font-size: 0.9rem;
}
.monthlyPostList {
  margin-bottom: 0.5rem;
  padding-inline-start: 25px; 
}
.monthlyPostList li {
  padding: 0 0.5rem 0.1rem 0;
  list-style-type: none;
}
.monthlyPostList li:before {
  content: '\2012';
  position: absolute;
  margin-left: -15px;
}

.postLinks {
  color: var(--text-links-blue);
  text-decoration: none;
}
.postLinks:hover {
  text-decoration: none;
}
.postLinksActive {
  font-weight: bold;
}

.pSelect {
  width: 100%;
  height: 3rem;
  font-size: 18px;
}


/* RIGHT PANE */
.pPaneRight {
  /* min-width: 900px; */
  max-width: 930px;
  border: .5px solid red;
}


@media (max-width: 1600px) {
  .pContainer {
    margin: 0 120px;
  }
}

@media (max-width: 1500px) {
  .pContainer {
    margin: 0px 100px;
  }
  
  .pPaneRight {
    min-width: 700px;
  }
}

@media (max-width: 1300px) {
  .pContainer {
    margin: 0px 90px;
  }

  .pPaneRight {
    min-width: 600px;
  }
}

@media (max-width: 1200px) {
  .pContainer {
    grid-template-columns: 1fr 1fr;
  }

  .pPaneRight {
    min-width: 700px;
  }
}

@media (max-width: 1200px) {
  .pPaneRight {
    min-width: 600px;
  }
}

@media (max-width: 960px) {
  .pContainer {
    grid-template-columns: 1fr;
    margin: 0px 20px;
  }
  
  .pPaneLeft {
    display: none;
  }

  .pPaneLeftMobile {
    display: inline-block;
    margin-bottom: 2rem;
    min-width: 100%;
  }

  .pPaneRight {
    min-width: 100%;
    padding: 0;
  }
}