.ftContainer {
  background-color: var(--background-secondary);
  width: 100%;
  padding: 1rem 0;
}

.ftInnerContainer {
  text-align: center;
  color: var(--text-dulled);
}

.ftInnerContainer p {
  margin: 0;
}