.card-container {
  margin: 1rem;
  position: relative;
  max-width: 30%;
}

.card-img {
  display: block;
  width: 100%;
  border-radius: 0.2rem;
}

.layer {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
}

.card-content {
  position: absolute;
  color: var(--text-white);
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content p {
  font-size: 20px;
  margin: 0 0 16px;
}

.btn-readmore {
  font-size: 16px;
  padding: 12px 20px;
  color: var(--text-white);
  border: 2px solid var(--text-white);
  text-decoration: none;
}
.btn-readmore:hover {
  color: #000;
  background-color: var(--text-white);
  border: 2px solid var(--text-white);
  transition: 0.3s ease-in-out;
}

@media (max-width: 960px) {
  .card-container {
    min-width: 100%;
  }
}